.concept-wrapper {
  border-bottom: 1px solid #e2e2e2;
  padding: 30px 10px 63px;

  .concept-topic {
    padding: 127px 0 50px;
    position: relative;
    text-align: center ;
    img {
      position: absolute;
      top: 0;
    }
  }

  .concept-list .item {
    padding-left: 75px;
    padding-right: 30px;
    padding-top: 20px;
    position: relative;

    .fa {
      position: absolute;
      top: 20px;
      left: 0;
    }
    p{
      color: $main-color;
    }

    &:last-child {
      padding-right: 0;
      .dollar {
        background: $main-color;
        border-radius: 50%;
        color: $contrast-color;
        line-height: 56px;
        text-align: center;
        width: 56px;
      }
    }
  }
}

@media (max-width: 640px) {
  .concept-wrapper .concept-topic {
    padding: 127px 0 0;
  }
}

@media(max-width: 768px) {
  .concept-wrapper {
    padding-bottom: 30px;
    .concept-list .item .fa-tablet{
      top: 15px;
    }
  }
}