@font-face {
  font-family: "Burbank Big Wide";
  src: url("../fonts/Burbank Big Wide Bold.otf") format("opentype");
}

html, body {
  font-family: $body-font-family;
  overflow-x: hidden;
  width: 100%;
}

p {
  color: $second-color;
  font: 400 18px $body-font-family;
  margin: 0;
}

h1, h2, h3, h4 {
  color: $main-color;
  font-weight: 600;
  margin: 0;
  line-height: 1;
}

h1 {
  color: $contrast-color;
  font: 600 50px $body-font-family;
}

h2 {
  font: 700 39px $topic-font-family;
}

h3 {
  font: 700 25px $topic-font-family;
  text-transform: uppercase;
}

ul {
  margin: 0;
  li {
    display: inline-block;
    padding: 0 30px;
  }
}

a {
  display: inline-block;
  font-size: 18px;
}

.btn {
  border: 5px solid $contrast-color;
  color: $contrast-color;
  text-align: center;
  transition: color 0.4s ease,
              background 1.2s linear,
              border 0.8s ease;
}

.btn:hover {
  background: $second-color;
}

.bold {
  font-weight: 700;
}

.capitalized {
  text-transform: uppercase;
}

@media(max-width: 1190px) {
  h2 {
    text-align: center;
  }
}

@media(max-width: 768px) {
  h1{
    font-size: 39px;
  }
  h2 {
    font-size: 30px;
    text-align: center;
  }
}